.editor {
  background: #fff;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 25px;
}

.editor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.editor-editor .public-DraftEditorPlaceholder-root,
.editor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.editor-editor .public-DraftEditor-content {
  min-height: 200px;
}


.editor-menu {
  display: flex;
}

.editor-media > * {
  margin: 0 2px;
}

.editor-menu > :first-child {
  border-right: 1px solid #ddd;
  margin-right: 10px;
}

.editor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.editor-activeButton {
  color: #5890ff;
}

.editor-editor .editor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.editor-editor .editor-center {
  text-align: center;
}
