.apercu-categorie {
  margin-bottom: 20px
}

.apercu-categorie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
}


.apercu-categorie-liste {
  display: flex;
  align-items: center;
  width: 100%;

}

* {
  min-height: 0;
  min-width: 0;
}
