.projet-content {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.projet-left {
  display: flex;
  flex-direction: column;
}

.projet-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10vw;
}

.projet-content img {
  max-height: 320px;
  width: 480px
}

