.projet-descritption {
  display: flex;
  flex-direction: column;
}

.description-image {
  align-self: center;
  max-width: 640px;
  max-height: 360px;
}

.description-video {
  align-self: center;
}
