  .container-projet-mois {
    display: flex;
    cursor: pointer;
  }

  .descrition-projet-mois {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
  }

  .image-projet-mois {
    width: 100%;
    max-width: 33.33333vw;
  }
